# Datatypes

In [1]:
# datatypes
# 1)numbers
# 2)string
# 3)list
# 4)tuple
# 5)dictionary
# 6)set

## Numbers

In [2]:
# numbers-int,float,complex
num1=1  #int
print(type(num1))

num2=1.2
print(type(num2))

num3=3+4j
print(type(num3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [6]:
# number system
# 1)binary
# 2)octal
# 3)hexadecimal

print(0b1101011)  # prints 107

print(0xFB + 0b10)  # prints 253

print(0o15)  # prints 13

107
253
13

In [12]:
# type conversion
# 1)explicit conversion
num1=1.2
print(num1)
num1=int(1.2)
print(num1)

num3=3
print(num3)
num3=float(num3)
print(num3)

num4=complex('3+4j')
print(num4)

1.2
1
3
3.0
(3+4j)

# Random Module

In [21]:
# python random module
# python offers random module to generate random numbers or to pick a random item from an iterator
import random
# returns a random integer from the given range
print(random.randrange(10,20))

# seed value is same it gives same value of random numbers
random.seed(2)
# random generate random numbers
print(random.random())

11
0.9560342718892494

In [16]:
# returns a random integer b/w a&b inclusive
print(random.randint(2,8))

8

In [24]:
list1 = ['a', 'b', 'c', 'd', 'e']
print(list1)
# get random item from list1
print(random.choice(list1))

['a', 'b', 'c', 'd', 'e']
c

In [27]:
# shuffle list
random.shuffle(list1)
print(list1)

['d', 'e', 'a', 'b', 'c']

# Math

In [29]:
# python offers math module to carry different operations
import math
print(math.pi)

print(math.cos(math.pi))

print(math.exp(10))

print(math.log10(1000))

print(math.sinh(1))

print(math.factorial(6))

3.141592653589793
-1.0
22026.465794806718
3.0
1.1752011936438014
720

## List

- list are stored multiple data at once
- list is mutable(can add or remove item)
- list can store different datatypes items
- list can store duplicate items
- list is ordered

In [19]:
list1 =  [19, 26, 23]
print(list1)

# acess item at index 0
print(list1[0]) 

# indexing the position of item
print(list1.index(19))

# slicing
print(list1[0:2])

# append
list1.append(32)
print(list1)

# extend list by other list
list2=["a","b","c"]
list1.extend(list2)
print(list1)

# insert item in list
list1.insert(1,"hi")
print(list1)

# changing item
list1[1]="hello"
print(list1)

# delete item
del list1[1]
print(list1)

# remove item
list1.remove('a')
print(list1)

# remove using pop
list1.pop(1)
print(list1)

# count specified item
print(list1.count(19))

# sort the list(ascending/descending)
list3=[2,6,3,8]
list3.sort()
print(list3)
# descending order
list3.sort(reverse=True)
print(list3)
# length order
list.sort(key=len)

# reverse list
list3.reverse()
print(list3)

# shallow copy
numbers=list3.copy()
print(numbers)

# clear list
list3.clear()

[19, 26, 23]
19
0
[19, 26]
[19, 26, 23, 32]
[19, 26, 23, 32, 'a', 'b', 'c']
[19, 'hi', 26, 23, 32, 'a', 'b', 'c']
[19, 'hello', 26, 23, 32, 'a', 'b', 'c']
[19, 26, 23, 32, 'a', 'b', 'c']
[19, 26, 23, 32, 'b', 'c']
[19, 23, 32, 'b', 'c']
1
[2, 3, 6, 8]
[8, 6, 3, 2]
[2, 3, 6, 8]
[2, 3, 6, 8]

## Tuple

- tuple is immutable
- can store different types

In [ ]:
# tuple
tuple1 = (1, "Hello", "hi")
print(tuple1)

# without parenthesis
my_tuple = 1, 2, 3

# one element tuple(needs comma otherwise it will be string)
var2 = ("Hello",)

# indexing
print(tuple1[0]) 

# slicing
print(tuple1[0:2]) 

# counting
print(tuple1.count(1))

# gives index
print(tuple1.index(1))

## String

- a string is a sequence of characters
- string is immutable
- can create multiline string

In [39]:
name = "Python"
print(name)

# access 1st index element
print(name[1])

# slicing
print(name[1:4])

# comparing string
str1 = "Hello, world!"
str2 = "I love Python."
print(str1 == str2)

# join(concantenate) string
greet = "Hello, "
name = "Jack"
result = greet + name
print(result)

# counting length
print(len(greet))

# string membership test
print('a' in 'program')
print('at' not in 'battle')

# convert into uppercase & lowercase
print(greet.lower())
print(greet.upper())

# partition
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

# replace
text = 'bat ball'
replaced_text = text.replace('ba', 'ro')
print(replaced_text)

# find
print(txt.find('all'))

# remove trailing whitespace from title
title="hello mng   "
result = title.rstrip()
print(result)

# split at '-'
cars = 'BMW-Telsa-Range Rover'
print(cars.split('-'))

# check if the message starts with Python
print(title.startswith('mng'))

# checks if every character of pin is numeric 
pin = "523"
print(pin.isnumeric())

# indexing
title.index('mng')

Python
y
yth
False
Hello, Jack
7
True
False
hello,
HELLO,
('I could eat ', 'bananas', ' all day')
rot roll
20
hello mng
['BMW', 'Telsa', 'Range Rover']
False
True

6

## set

- set collection of unique data
- set can store different types
- set cannot contain duplicate items

In [46]:
numbers = {112, 114, 116, 118, 115}
print(numbers)

# add item
numbers.add(32)
print(numbers)

# update with other iterable
set1={1,2}
numbers.update(set1)
print(numbers)

numbers.discard(114)
print(numbers)

{112, 114, 115, 116, 118}
{112, 32, 114, 115, 116, 118}
{112, 32, 114, 115, 116, 1, 118, 2}
{112, 32, 115, 116, 1, 118, 2}

In [52]:
#union of set
A = {1, 3, 5}
B = {0, 2, 4}
print( A | B)

# intersection of set
print(A & B)

# difference of sets
print(A - B)

# perform difference operation using &
print('using ^:', A ^ B)
# using symmetric_difference()
print('using symmetric_difference():', A.symmetric_difference(B)) 

# perform difference operation using &
if A == B:

{0, 1, 2, 3, 4, 5}
set()
{1, 3, 5}
using ^: {0, 1, 2, 3, 4, 5}
using symmetric_difference(): {0, 1, 2, 3, 4, 5}

### Dictionary

- key-value pair
- can't access key using value
- one element means key-value pair
- dictionary key must be immutable

In [1]:
# creating dictionary
car = {
  "polo": "blue", 
  "i20": "black", 
  "alto": "red"
}
print(car)

{'polo': 'blue', 'i20': 'black', 'alto': 'red'}

In [2]:
# length of dictionary
print(len(car))

3

In [3]:
# access value using key
print(car["alto"])

red

In [4]:
# changing value using key
car["polo"]="green"
print(car)

{'polo': 'green', 'i20': 'black', 'alto': 'red'}

In [5]:
# adding another pair
car["dezire"]="white"
print(car)

{'polo': 'green', 'i20': 'black', 'alto': 'red', 'dezire': 'white'}

In [6]:
# deleting one pair
del car["polo"]
print(car)

{'i20': 'black', 'alto': 'red', 'dezire': 'white'}